{
    "setting": {
        "endpoint": {
            "public": "https://api.coin.z.com/public",
            "private": "https://api.coin.z.com/private"
        },
        "symbols": ["BTC", "ETH", "BCH", "LTC", "XRP"],
        "minamount": {"BTC": "0.0001", "ETH": "0.01", "BCH": "0.01", "LTC": "0.1", "XRP": "1"}
    },
    "order": {
        "targetsymbol": "BTC",
        "budget": "5000"
    }
}
